<!-- templates/index.html -->
<!DOCTYPE html>
<html>
    <body>
        <form method="POST">
            <p>Which image looks more like a {{category}}?</p>
            <p> A {{category}} looks like this: </p>
            <img src="{{category_path}}" width="200">
            <br>
            <label class="image-label">
                <img src="{{image_path_1}}" width="300">
                <input type="radio" name="image" value={{image_paths_type1}} required>
                <span>Image 1</span>
            </label>

            <label class="image-label">
                <img src="{{image_path_2}}" width="300">
                <input type="radio" name="image" value={{image_paths_type2}} required>
                <span>Image 2</span>
            </label>

            <label class="image-label">
                <img src="{{image_path_3}}" width="300">
                <input type="radio" name="image" value={{image_paths_type3}} required>
                <span>Image 3</span>
            </label>

            <label class="image-label">
                <img src="{{image_path_4}}" width="300">
                <input type="radio" name="image" value={{image_paths_type4}} required>
                <span>Image 4</span>
            </label>

            <label class="image-label">
                <input type="radio" name="image" value="None" required>
                <span>None of the above</span>
            </label>

            <input type="submit" value="Submit">
        </form>
        {% if selected_image %}
        <p>You selected: {{selected_image}}</p>
        {% endif %}
    </body>
</html>
